.legend {
  &__item {
    padding: 1.85rem 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--description {
      display: flex;

      & p {
        padding-left: 1.25rem;
      }

    }

    &--line {
      flex: 1;
      padding: 0 2.25rem;

      &-through {
        height: 0.1rem;
        width: 100%;
        background: $color-transparent-3;
      }
    }

    &--circle {
      height: 1.4rem;
      width: 1.4rem;
      border-radius: 50%;

      &-1 {
        background: $graph-1;
      }

      &-2 {
        background: $graph-2;
      }

      &-3 {
        background: $graph-3;
      }

      &-4 {
        background: $graph-4;
      }

      &-5 {
        background: $graph-5;
      }

      &-6 {
        background: $graph-6;
      }

      &-7 {
        background: $graph-7;
      }

      &-8 {
        background: $graph-8;
      }
    }

    &--price {
      font-weight: 500;
    }
  }

  &__taxItem {
    padding: 0.5rem 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--description {
      display: flex;

      & p {
        padding-left: 1.25rem;
      }

    }
    &--meaning {
      font-size: 1.2rem;
      padding-top: 1rem;
      margin-left: 0.8rem;
      text-align: center;
    }

  }
}
