.dashboard-card {
  background: $color-secondary-1;
  border-radius: 2rem;
  border: none;
  width: 90%;
  margin: 2.5rem auto;
  padding: 2.5rem 2rem;
  box-shadow: 0.5rem 0.4rem 1rem rgba(0, 0, 0, 0.5);
  text-align: center;

  &__container {
    & ul {
      list-style-type: none;
    }
  }

  &__title {
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }
}
