.input {
  font-size: 1.6rem;
  background: #fff;
  padding: 1.25rem;
  border-radius: 1rem;
  border: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 1.6rem;
  }
}
