$color-primary-1: #414141;
$color-primary-2: #3c90d2;

$color-secondary-1: #505050;

$color-transparent-1: rgba(58, 129, 235, 0.5);
$color-transparent-2: rgba(63, 63, 63, 0.5);
$color-transparent-3: rgba(63, 63, 63, 0.75);

$graph-1: #39af7e;
$graph-2: #ebc23a;
$graph-3: #1e93ff;
$graph-4: #ad3636;
$graph-5: #ced2d9;
