$color-primary-1: #3f3f3f;
$color-primary-2: #3aeb4b;

$color-secondary-1: #505050;

$color-transparent-1: rgba(58, 235, 75, 0.5);
$color-transparent-2: rgba(63, 63, 63, 0.5);
$color-transparent-3: rgba(63, 63, 63, 0.75);

$graph-1: #fa28bf;
$graph-2: #3aeb4b;
$graph-3: #1e93ff;
$graph-4: #f3a736;
$graph-5: #ced2d9;
