.auth {
  height: 100vh;
  width: 100%;
  background: $color-primary-1;
  overflow: hidden;
  position: relative;

  &__attention {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    width: 100%;
    text-align: center;

    &--title {
      font-family: "Lobster", sans-serif;
      font-size: 6.8rem;
      padding: 0 0 2.5rem 0;
      font-weight: 200;

      & span {
        color: $color-primary-2;
      }
    }

    &--slogan {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  &__bubble {
    position: absolute;
    width: 100%;
    top: 30%;
    left: -10%;

    &--main {
      height: 74.3rem;
      width: 74.3rem;
      border-radius: 50%;
      background: $color-primary-2;
    }

    &--secondary {
      height: 26.4rem;
      width: 26.4rem;
      position: absolute;
      border-radius: 50%;
      background: rgba($color-primary-1, 0.5);
      top: 50%;
      right: -15rem;

      &::before {
        content: "";
        height: 40%;
        width: 40%;
        position: absolute;
        border-radius: 50%;
        top: -2.75rem;
        left: -1.5rem;
        background: inherit;
      }
    }
  }

  &__option {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    @include respond(tab-land) {
      width: 50%;
      margin: 0 auto;
    }

    &--btn2 {
      height: 5.5rem;
      background: white;
      width: 90%;
      padding: 1rem 2rem;
      margin-bottom: 1.5rem;

      @include respond(tab-land) {
        width: 70%;
        border: 1.5px solid $color-primary-1;
      }
    }

    &--container {
      width: 70%;
      height: 50%;
      z-index: 15;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include respond(tab-land) {
        height: 70%;
        border-radius: 2rem;
        background: #fff;
      }
    }

    &--google {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-logo {
        height: 100%;
        display: flex;
        align-items: center;
      }

      & img {
        height: 100%;
      }

      & p {
        color: rgb(145, 145, 145);
      }
    }

    &--btn {
      background-color: $color-primary-1;
      width: 90%;

      @include respond(tab-land) {
        width: 70%;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
}
