.confirm {
  background: $color-primary-1;
  height: 70vh;

  @include respond(tab-land) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land) {
      width: 40%;
      height: 80%;
      margin: auto;
    }

    &--dropdown {
      width: 80%;
    }

    &--p {
      font-size: 2.2rem;
      color: white;
      font-weight: bold;
      padding-bottom: 5rem;
    }

    &--form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      &-input {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        border-radius: 1rem;
        margin-bottom: 2rem;
        position: relative;
      }

      &-inputSalary {
        width: 100%;
        display: flex;
        justify-content: space-between;

        background: white;
        border-radius: 1rem;
        margin-bottom: 2rem;
        position: relative;
      }

      &-inputRange {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        position: relative;
      }

      &-result {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        position: relative;
      }

      &-result h3{
        margin-top: 1.5rem;
        font-size: 22px;
        margin-right: 20px;
      }

      &-details {
        width: 100%;
        border-radius: 1rem;
        margin-top: 1.2rem;
        margin-bottom: 2rem;
        position: relative;
      }

      &-progressBar{
        margin-top: 1.3rem;
      }

      &-details details {
        display: inline-block;
        alignment: center;
        width: 70%;
        font-size: 12px;
        border-radius: 4px;
        padding: .5em .5em 0;
      }

      &-details summary {
        font-weight: bold;
        margin: -.5em -.5em 0;
        padding: .5em;
      }

      &-details details[open] {
        padding: .5em;
      }


      &-details details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: .5em;
      }

      & input {
        flex: 1;
      }

      & select {
        -webkit-appearance: none;
        width: 100%;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        background: #fff;
        padding: 1.25rem;
        border-radius: 1rem;
        border: none;
      }

      & button {
        width: 50%;
        background: $color-primary-2;
      }


    }
  }

  &__change-auth {
    color: $color-primary-2;
    padding-top: 3.5rem;
    font-size: 1.6rem;

    & span {
      color: #fff;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__forgot-password {
    color: white;
    font-size: 1.4rem;
    padding-top: 2.5rem;
  }
}

.icon {
  font-size: 1.55rem;
  padding: 0 0.75rem 0 0.75rem;
  color: grey;
}
