.dashboard {
  width: 100%;
  color: #fff;
  position: relative;

  &__nav {
    width: 100%;
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    right: 0;
    background: $color-primary-1;
    z-index: 10;
    box-shadow: 0.5rem 0.4rem 1rem rgba(0, 0, 0, 0.5);

    & select {
      -webkit-appearance: none;
      width: 80%;
      margin-bottom: 2rem;
      font-size: 1.6rem;
      background: #fff;
      padding: 1.25rem;
      border-radius: 1rem;
      border: none;
    }

    &-controls {
      display: flex;
      gap: 20px;
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-user {
      font-size: 2.4rem;
      font-weight: 500;
    }

    &-dropdown {
      color: #545454;
      transition: 300ms ease-in-out;
      padding: 20px;
      border-radius: 10px;
      cursor: pointer;

      &:hover, &--open {
        background-color: darkgrey;
      }
    }

    &-form {
      position: absolute;
      top: 110%;
      border-radius: 2rem;
      right: 1%;
      background-color: $color-secondary-1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      padding: 6rem 0 4rem 0;
      box-shadow: 0.5rem 0.4rem 1rem rgba(0, 0, 0, 0.5);
    }

    &-settings {
      text-align: end;

      &--icon {
        font-size: 3rem;
        color: grey;
      }
    }
  }
  
  &__taxes {
    &--form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0.5rem 0 4rem 0;
    }
  }
  
  &__income {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    &-amount {
      padding: 3rem 7rem;
      background-color: $color-secondary-1;
      font-size: 24px;
      font-weight: 500;
      width: max-content;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
  }

  &__chart {
    text-align: center;

    &--card {
      @include respond(tab-land) {
        width: 55%;
      }
    }

    &-info {
      padding-bottom: 1.5rem;

      &--title {
        font-size: 2.2rem;
        padding: 1.5rem 0 2rem 0;
      }

      &--date {
        font-size: 1.6rem;
        font-weight: bold;
        padding-bottom: 0.5rem;
      }
    }

    &-icon {
      &--bar {
        transform: rotate(90deg) scaleX(-1);
      }
    }

    &-icons {
      padding-top: 2rem;
      text-align: end;
      color: $graph-5;
      font-size: 2.2rem;
      text-decoration: none;

      & :not(:last-child) {
        padding-right: 1.5rem;
      }
    }
  }

  &__view {
    @include respond(tab-land) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 0 auto;
    }
  }

  &__legend {
    max-height: 60vh;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @include respond(tab-land) {
      width: 40%;
      height: min-content;
    }
  }
}

.active {
  color: $color-primary-2;
}

.btn {
  width: 60%;
  background: $color-primary-2;
}

.logout {
  background: red;
  width: max-content;
  transition: 300ms ease-in-out;

  &:hover {
    background-color: crimson;
  }
}
