*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
  max-width: 100vw;
  background: $color-primary-1;
}

html {
  font-size: 62.5%; // 1rem === 10px
  scroll-behavior: smooth;
}

.main {
  width: 100%;
}
